@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-family1: 'Cormorant', serif;
    --font-family2: 'Lato', sans-serif;
}

.top-header p {
    font-family: var(--font-family2);
    font-size: 10px;
    color: #845252;
}

.navbar a {
    font-family: var(--font-family2);
    letter-spacing: 3.6px;
    font-weight: bold;
    font-size: 12px;

}

.header-content h6 {
    font-family: var(--font-family2);
    letter-spacing: 2px;
    font-size: 11px;
}

.header-content p {
    font-family: var(--font-family2);
    font-size: 17px;
}

.main-content h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
    color: #845252;
}

.main-content h1 {
    font-family: var(--font-family1);
    font-size: 60px;
    left: 240px;
}

.main-content p {
    font-family: var(--font-family2);
}

.special-combo h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.special-combo h1 {
    font-family: var(--font-family1);
    font-size: 60px;
    letter-spacing: 0rem;
}

.special-combo .card h5 {
    font-family: var(--font-family1);
    letter-spacing: 0.1rem;
}

.special-combo .card h6 {
    font-family: var(--font-family2);
    font-size: 15px;
    letter-spacing: 0.1rem;
}

.best-seller h1 {
    font-family: var(--font-family1);
    font-size: 60px;
    opacity: 1;
}

.best-seller h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.best-seller .card h5 {
    font-family: var(--font-family1);
    letter-spacing: 0.1rem;
}

.best-seller .card h6 {
    font-family: var(--font-family2);
    font-size: 15px;
    letter-spacing: 0.1rem;
}

.industry h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.industry h1 {
    font-family: var(--font-family1);
    font-size: 60px;
}

.industry p {
    font-size: 17px;
    font-family: var(--font-family2);
    color: #1E1E1E;
}

.industry h2 {
    font-family: var(--font-family1);
    font-size: 60px;
}

.industry .k p {
    letter-spacing: 4.5px;
    font-size: 15px;
}

.arrivals h1 {
    font-family: var(--font-family1);
    font-size: 60px;
}

.arrivals h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.news h1 {
    font-family: var(--font-family1);
    font-size: 60px;
}

.news h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.news h5 {
    font-family: var(--font-family1);
    font-size: 25px;
}

.news p {
    font-family: var(--font-family2);
}

.news a {
    font-family: var(--font-family2);
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
}

.news {
    padding-top: 100px;
}

.follow-us h1 {
    font-family: var(--font-family1);
    font-size: 60px;
}

.follow-us h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px
}

.contact-section h3 {
    font-family: var(--font-family1);
    font-size: 30px;
}

.contact-section p {
    font-family: var(--font-family2);
    font-size: 16px;
}

.contact-section .c2 h6 {
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3px;
}

.contact-section .last p {
    font-family: var(--font-family2);
    font-size: 12px;
}

.top-header {
    background-color: #F8F2ED;
}

.navbar-brand {
    padding-left: 45px;
}

.nav-icons {
    padding-right: 120px;
}

.header {
    background-image: url(images/AdobeStock_396574212\ \(1\).png);
    height: 100vh;
}

.navbar {
    background: transparent !important;
}

.header-content {
    margin-top: 15vh;
    margin-left: 240px;
}

.header-content h1 {
    color: #845252;
    font-size: 70px;
    opacity: 100%;
    font-family: var(--font-family1);
    opacity: 1;
}

main {
    background-color: #FAF7F2;
    overflow-x: hidden;
}

.logos {
    background-color: #FFFCF8;
}

.main-content {
    padding-bottom: 100px;
}

.main-content {
    background-image: url(images/Component\ 37\ –\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
}

.special-combo {
    background-image: url(images/Component\ 111\ –\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}

.best-seller {
    background-image: url(images/Component\ 112\ –\ 1.png);
    background-repeat: no-repeat;
}

.main-content h1 {
    color: #845252;
}

.heading {
    color: #845252;
}

.special-combo .card {
    background: transparent !important;
    border: 1px solid #E5DBD7;
    height: 695px;
    width: 454px;
    border-radius: 0% !important;

}

.special-combo .card1 {
    left: 240px;
}

.special-combo .card2 {
    left: 100px;
}

.special-combo .card3 {
    left: -43px;
}

.best-seller .card {
    background-color: rgb(250, 247, 242) !important;
    border-radius: 0% !important;
}

.arrivals .card {
    background-color: #FAF7F2 !important;
    border-radius: 0% !important;
}

.arrivals {
    background-image: url(images/Component\ 133\ –\ 1.svg);
    background-color: #FFFCF8;
    background-size: cover;
}

.industry {
    background-image: url(images/Component\ 102\ –\ 1.svg);
    background-repeat: no-repeat;
    background-position: 1100px;
    margin-top: -50px;
}

.news {
    background-image: url(images/Component\ 146\ –\ 1.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.news .card {
    background: transparent !important;
    border: none !important;
}

.contact-section {
    background-image: url(images/Component\ 39\ –\ 1.svg);
    background-repeat: no-repeat;
    background-position: right;
    /* margin-top: -100px; */
}

.contact-section a {
    color: black;
    text-decoration: none;
    letter-spacing: 3.6px;
    font-size: 12px;

}

.contact-section .form {
    font-family: var(--font-family2);
}

.lines {
    margin-top: -50px;
    margin-left: 0%;
}

.best-seller .card {
    border-color: #E5DBD7;
}

footer {
    background-color: #FAF7F2;
}

.top-header {
    height: 25px;
}

.navbar-nav a {
    position: relative;
}

.navbar-nav a:after {
    content: "";
    position: absolute;
    background-color: rgb(102, 58, 33);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}

.navbar-nav a:hover:after {
    width: 72%;
    margin-left: 8px;
}

.news a {
    position: relative;
}

.news a:after {
    content: "";
    position: absolute;
    background-color: rgb(102, 58, 33);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}

.news a:hover:after {
    width: 22%;
}

.header-content button {
    height: 41px;
    width: 220px;
    border: #845252;
    background-color: #845252;
    color: white;
    font-family: var(--font-family2);
    font-size: 11px;
    letter-spacing: 3.3px;
}

.header-content button:hover {
    background-color: #503b3b;
}

.logos .row {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content1 {
    margin-left: 230px;
    margin-top: 150px;
}

.main-content2 {
    margin-left: 0px;
    margin-top: 150px;
}

/* .best-seller .container-fluid .products1 {
    display: grid;
    grid-template-columns: repeat(12, minmax(320px, 1fr));
} */

.products1 {
    margin-left: 50px;
}

.products1 .card {
    height: 548px;
    width: 340px;
}

.industry {
    margin-top: 100px;
    padding-bottom: 80px;
}

.industry .k {
    margin-top: 40px;

}

.social i {
    background-color: #845252;
    padding: 10px;
    font-size: 14px;
    color: white;
    border-radius: 40px;
    padding-left: 13px;
    /* padding-right: 12px; */
}

.main-content1 img {
    height: 650px;
    width: 681px;
}

.special-combo h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #845252;
    line-height: 0.1rem;
    margin: 20px 0 10px;
}

.special-combo span {
    background: rgb(250, 247, 242);
    padding: 0 10px;
}

.best-seller h1 {
    /* width: 100%; */
    /* text-align: center; */
    border-bottom: 1px solid #845252;
    line-height: 0.1rem;
    /* margin: 20px 0 10px; */
}

.best-seller span {
    background: rgb(250, 247, 242);
    padding: 0 10px;
}

.industry h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #845252;
    line-height: 0.1rem;
    margin: 20px 0 10px;
}

.industry span {
    background: rgb(250, 247, 242);
    padding: 0 10px;
}

.arrivals h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #845252;
    line-height: 0.1rem;
    margin: 20px 0 10px;
}

.arrivals span {
    background: #FFFCF8;
    padding: 0 10px;
}

.news h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #845252;
    line-height: 0.1rem;
    margin: 20px 0 10px;
}

.news span {
    background: #FAF7F2;
    padding: 0 10px;
}


@media(max-width:540px) {
    .top-header {
        display: none;
    }

    .navbar-brand {
        margin-left: -60px;
    }

    .header {
        background-position: center;
    }

    .header-content {
        margin-left: 50px;

    }

    .header-content h1 {
        font-size: 50px;
    }

    .header-content button {
        width: 180px;
    }

    .header-content p {
        font-size: 15px;
    }

    .navbar li a {
        margin-left: 20px;

    }

    .main-content2 p {
        font-size: 19px;
    }

    .industry .k p {
        font-size: 14px;
    }

    .nav-icons {
        margin-left: 20px;
    }

    .contact-section h3 {
        text-align: center;
    }

    .contact-section p {
        text-align: center;
    }

    .main-content h1 {
        font-size: 30px;
        top: 1352px;
    }

    .main-content1 {
        margin-left: 0%;
    }

    .special-combo {
        margin-top: -100px;
    }

    .contact-section .form {
        margin-right: 150px;
    }

    .contact-section a {
        letter-spacing: 2px;
    }

    .pay-logo img {
        margin-left: 90px;
        margin-bottom: 15px;
    }

    .main-content1 img {
        height: 420px !important;
        width: 400px !important;
    }

    .main-content2 img {
        margin-top: -110px;
        height: 410px !important;
        width: 400px !important;
    }

    .signature img {
        height: 55px !important;
        margin-bottom: 30px;
        margin-left: 30% !important;
    }

    .special-combo h1 {
        font-size: 40px;
    }

    .special-combo .card1 {
        left: 0% !important;
        height: 400px;
        width: 400px;
    }

    .special-combo .card2 {
        left: 0% !important;
        height: 400px;
        width: 400px;
    }

    .special-combo .card3 {
        left: 0% !important;
        height: 400px;
        width: 400px;
    }

    .best-seller h1 {
        font-size: 40px;
    }


    .arrivals h1 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .news h1 {
        font-size: 30px;
        margin-bottom: -10px;
    }

    .follow-us h1 {
        font-size: 30px;

    }

    .social {
        text-align: center;
        padding: 30px;
    }

    .contact-section button {
        position: absolute;
        right: 60px;
    }

    .arrivals img {
        margin-left: 140px;
    }

    .arrivals h1 {
        font-size: 30px;
    }

    .arrivals .card h5 {
        text-align: center;
    }

    .arrivals .card h6 {
        text-align: center;
    }

    .header-content button {
        margin-right: 60px;
    }

    .best-seller .container-fluid {
        display: grid;

    }

    .image-gallery img {
        height: 410px !important;
        width: 400px !important;
        display: none !important;

    }

    .industry h1 {
        font-size: 40px;
    }

    .news {
        margin-top: -70px;
    }

    .images1 {
        display: flex;
    }

    .images2 {
        display: flex;
    }

    .images3 {
        display: flex;
    }

    .navbar-nav a:after {
        content: "";
        position: absolute;
        background-color: rgb(102, 58, 33);
        height: 2px;
        width: 0;
        left: 0;
        bottom: -1px;
        transition: 0.3s;
    }

    .navbar-nav a:hover:after {
        width: 15%;
        margin-left: 0px;
    }

    .igimg1 img {
        height: 450px;
    }

    .igimg2 img {
        height: 325px;
    }
    .igimg4 img {
        height: 175px!important;
        margin-left: 1px!important;
        margin-top: 10px;
    }
    .igimg5 img {
        height: 240px!important;
        margin-left: 1px!important;
        margin-top: 10px;
    }
    .igimg3 img {
        margin-left: 1px !important;
        height: 780px;
        margin-top: 10px;
    }
    .contact-section .container{
        margin-top: -100px;
    }
    .contact-section .container h6 a{

        letter-spacing: 1px;
        font-size: 10px;
    }
    .best-seller .card{
        margin-top: 20px;
    }

}